In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib

Using matplotlib backend: MacOSX

In [12]:
data = pd.read_csv('WIKI_20160608.csv', names=['Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
                                              'Volume', '7', '8', 'Adj-O', 'Adj-H', 'Adj-L', 'Adj-C',
                                              'Adj-Vol'])

In [13]:
data.head()

,Ticker,Date,Open,High,Low,Close,Volume,7,8,Adj-O,Adj-H,Adj-L,Adj-C,Adj-Vol
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,43.584507,47.895063,38.316050,42.147655,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,41.132280,41.189754,38.134049,38.680053,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,39.570901,42.147655,38.373524,42.147655,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,40.710803,41.793232,38.555525,38.555525,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,38.440577,40.174379,38.316050,39.331425,3464400.0

In [23]:
dat = data[['Ticker', 'Date', 'Adj-O', 'Adj-H', 'Adj-L', 'Adj-C', 'Adj-Vol']]

In [24]:
print dat.head()
print dat.shape

  Ticker        Date      Adj-O      Adj-H      Adj-L      Adj-C     Adj-Vol
0      A  1999-11-18  43.584507  47.895063  38.316050  42.147655  44739900.0
1      A  1999-11-19  41.132280  41.189754  38.134049  38.680053  10897100.0
2      A  1999-11-22  39.570901  42.147655  38.373524  42.147655   4705200.0
3      A  1999-11-23  40.710803  41.793232  38.555525  38.555525   4274400.0
4      A  1999-11-24  38.440577  40.174379  38.316050  39.331425   3464400.0
(14150093, 7)

In [40]:
agilent = dat[dat['Ticker'] == 'A']

In [43]:
agilent.head()

  Ticker        Date      Adj-O      Adj-H      Adj-L      Adj-C     Adj-Vol
0      A  1999-11-18  43.584507  47.895063  38.316050  42.147655  44739900.0
1      A  1999-11-19  41.132280  41.189754  38.134049  38.680053  10897100.0
2      A  1999-11-22  39.570901  42.147655  38.373524  42.147655   4705200.0
3      A  1999-11-23  40.710803  41.793232  38.555525  38.555525   4274400.0
4      A  1999-11-24  38.440577  40.174379  38.316050  39.331425   3464400.0

In [44]:
from matplotlib import finance